*{
	color: #fff;
}
.content{
	background-color: #070a2d;
}
p{
	margin:0;
}
.main{
	overflow: hidden;
	margin: 0;
}
.ptitle{
	height: 61px;
	border-bottom: 1px solid #515767;
}
.ptitle h1 {
    font-size: 29px;
    font-family: 楷体;
    padding: 14px 20px;
    display: inline-block;
}
.ptitle .txt p {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    padding: 20px;
}
.weather {
    float: right;
    height: 60px;
    overflow: hidden;
}
.weatherIcon{
	width: 32px;
	height: 32px;
	background:transparent url(../../img/workbench/white30.png) no-repeat left top;
	margin:14px 0;
}
.weatherTxt{
	width: 127px;
	height: 60px;
	margin: 0 20px 0 15px;
}
.weather1,.weather2{
	height: 50%;
	width: 100%;
}
.ptitle .txt .weather2 p{
	padding:0;
}
.weather1 span,.weather2 *{
	font-size: 14px;
	line-height: 30px;
}
.airQua {
    width: 54px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    background: rgba(255,255,255,.2);
}
.weatherState {
    padding: 0 24px;
}
.ptitle .txt img {
    padding: 10px 20px 0 0;
}
.pleft{
	padding-left: 20px;
}
.pright{
	padding-right: 20px;
}
.pleft>div,.centerTopLeft > div>div,.centerTopRight,.skillData,.centerBtmRight > div,.pright > div{
    background-color: rgba(255,255,255,.1);
}
.pleft .pl1{
	background:transparent;
}
.aIcon{
	width: 18px;
	height: 18px;
	display: inline-block;
	background:transparent url(../../img/workbench/activityIcon.png) no-repeat center center;
}
.onlineActivity{
	height: 100%;
	text-align: center;
	background:transparent url(../../img/workbench/dotLine.png) no-repeat center right;
}
.pl1,.centerTop{
	height: 146px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.onlineActivityTxt{
	font-size: 18px;
	padding-top: 36px;
}
.onlineActivityCount{
	font-size: 36px;
	font-style: italic;
	color:#ba8e3a;
}
.onlineActivityPartition > div {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.onlineActivityPartition > div:last-child {
	margin-bottom:0;
}
.onlineActivityPartition > div span{
	font-size: 26px;
    padding-left: 8px;
}
.pthird{
	margin-bottom: 15px;
	width: 100%;
	position: relative;
}
.pthird > div{
	height: 100%;
	width: 100%;
}
.pthird h2 {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 12px;
    z-index: 99;
}
.pthird > #pl31{
	height: 100%;
	width: 50%;
	float: left;
}
.pthird > #pl32{
	height: 50%;
	width: 50%;
	float: left;
}
.pthird > #pl33{
	height: 50%;
	width: 50%;
	float: left;
}
.centerTop > div,.centerTop > div> div,.centerTop > div> div > div{
	height: 100%;
}
.centerTopLeft > div>div {
    margin-right: 8px;
    padding: 5px;
    width: 30%;
    width: -moz-calc(33.33333333% - 8px);
    width: -webkit-calc(33.33333333% - 8px);
    width: calc(33.33333333% - 8px);
}
.phalf {
    width: 48%;
    margin-top: 10px;
}
.phalf > p{
	font-size: 10px;
	line-height: 24px;
}
.centerTopVal {
    font-size: 25px;
    color: #e1ab39;
}
.cttitle{
	font-size: 16px;
	margin-bottom: 10px;
    margin-top: 8px;
}
.centerBtmLeft,.centerBtmRight{
	height: 100%;
	padding: 0;
}
.centerTop .centerTopRight > div{
	height: 50%;
	width: 100%;
	margin: 0;
}
.centerTop .centerTopRight > div > div{
	padding: 0;
}
.arrowTrendWrap{
	margin-top: 70%;
}
.arrowTrend {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    background:transparent url(../../img/workbench/trendArrow.png) no-repeat left top;
    top: 3px;
}
.centerBtmRight{
	padding-left: 15px;
}
.map{
	height: 67%;
}
.skillData{
	height: 33%;
}
.centerBtmRight > div{
	margin-bottom: 15px;
	height: 29%;
	height: -moz-calc((100% - 30px)/3);
	height: -webkit-calc((100% - 30px)/3);
	height: calc((100% - 30px)/3);
	padding: 10px;
}
.centerBtmRight > div:last-child{
	margin-bottom: 0;
}
.pright > div{
	margin-bottom: 15px;
	height: 29%;
	height: -moz-calc((100% - 60px)/3);
	height: -webkit-calc((100% - 60px)/3);
	height: calc((100% - 60px)/3);
	padding: 10px;
}
.pright > div:first-child{
	margin-top: 15px;
}
.sortType1 {
    padding: 50px 5px 0;
}
.sortType1 p,#cbtmRight3 p{
	margin: 5px;
}
.topTxt {
    font-size: 10px;
    color: #6c759d;
    top: -4px;
    position: relative;
    width: 24%;
    display: inline-block;
    text-align: right;
}
.topImg {
    width: 58%;
    display: inline-block;
    background: rgba(255,255,255,.2);
    height: 8px;
    top: 2px;
    position: relative;
    margin: 0 10px;
    border-radius: 5px;
}
.topImg>i {
    display: inline-block;
    background-color: #8fc950;
    height: 8px;
    border-radius: 5px;
    top: -6px;
    position: relative;
}
.topVal {
    color: #8fc950;
    top: -2px;
    position: relative;
}
.sort1 i {
    background-color: #ec1b54;
}
.sort1 .topVal {
    color: #ec1b54;
}
.sort2 i {
    background-color: #fe8616;
}
.sort2 .topVal {
    color: #fe8616;
}
.sort3 i {
    background-color: #fec321;
}
.sort3 .topVal {
    color: #fec321;
}
.chart{
	width: 100%;
	height: 100%;
}
#cbtmRight3 {
    padding-top: 20px;
}
.skillData .row{
	height: 50%;
	margin:0;
}
.skillData .row > div{
	height: 100%;
	padding:0;
}
.skillData .row > div > div{
	height: 100%;
	height: 100%;
}